.social-login
    button.social-login__github
        span
            i.fab.fa-github
        |Continue with Github
    button.social-login__facebook
        span
            i.fab.fa-facebook
        |Continue with Facebook
//- 자동으로 태그로 취급되었지만, 내가 텍스트로 하고 싶다면 앞에 |를 붙여주면 됨.