doctype html
html 
    head 
        title Wetube
    body
        header 
            h1 welcome to wetube clone!
        main
            block content 
        footer 
            span &copy; Wetube