extends layouts/main
//- extends - 다른 곳에서 만들어진 파일을 우리 파일에 똑같이 옮기고, 이 파일에서 그것을 확장한다는 뜻.
//- 지금은 main을 가져온 후, block content 부분에 html을 추가하고자 함.(main은 일종의 뼈대 역할)
//- block content - main에서 있었던 block content를 여기서 overwrite하는 것.
block content 
    p home
