mixin videoBlock(video={})
    .videoBLock 
        video.videoBlock__thumbnail(src=video.videoFile, controls="true")
        h4.videoBlock__title=video.title
        h6.videoBlock__views=video.views
//- mixin은 pug에서 제공하는 함수임. 인자가 하나 필요함.
//-각각 다른 정보를 가지지만 같은 구조를 가지는 데이터들을 캡슐화하기 위해 사용함. 
//- home.pug에서 데이터를 끌어옴.